@media(max-width:1075px){
    
    .slide__box{
        flex-wrap: wrap
    }
    
    .service__box{
        padding: 50px 42px 30px 42px;
    }
    
}

@media(max-width:1075px){
    
    .main__text{
        padding: 45px 71px;
        width: 820px;
    }
    
    .main__text h1{
        font-size: 55px;
    }
    
    .main__text p{
        font-size: 14px;
        width: 600px;
        margin-top: 35px;
    }
    
    .slide__button-box{
        justify-content: flex-end;
        margin-left: auto;
    }
    
    .slide__button1{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
}

@media(max-width:991px){
    
    .header__nav-link{
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        padding: 20px 0;
        justify-content: center
    }
    
    .header__geo{
        border-left: none
    }
    
    .slide__img{
        width: 280px;
        height: 180px;
        object-fit: initial
    }
    
    .slide__text{
        width: 400px;
    }
    
    .service__air{
        font-size: 25px;
        padding: 15px;
    }
    
    .service__air-text{
        font-size: 15px;
        margin-top: 18px
    }
    
    /* ******* */
    
    .company{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .company__h2{
        font-size: 35px;
        margin-top: 30px;
    }
    
    .company__info{
        font-size: 14px;
        width: 300px;
        margin-top: 30px;
    }
    
    /* **************************** */
    
    .company__block-number{
        font-size: 54px;
        margin-top: 0;
    }
    
    .company__block-name{
        font-size: 18px;
        margin-top: 8px;
    }
    
    .company__block-info{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 12px;
    }
    
    /* ************* */
    
    .footer-number1{
        margin-top: 15px;
    }
    
    .footer-end{
        margin-top: 15px;
    }
    
    .footer{
        padding: 30px 0 25px 0
    }
    
    .footer__logo{
        width: 125px;
    }
    
    /*  */
    
    .footer__map{
        font-size: 8px;
    }
    
    .footer__email{
        font-size: 8px;
        margin-top: 8px;
    }
    
    .footer-number1, .footer-number2{
        font-size: 8px;
    }
    
    .footer-end{
        font-size: 8px;
    }
    
}

@media(max-width:895px){
    
    .main__text{
        padding: 45px 71px;
        width: 720px;
    }
    
    .main__text h1{
        font-size: 50px;
    }
    
    .main__text p{
        font-size: 13px;
        width: 550px;
        margin-top: 30px;
    }
    
}

@media(max-width:767px){
    
    .main__text{
        padding: 40px 40px;
        width: 620px;
    }
    
    .main__text h1{
        font-size: 45px;
    }
    
    .main__text p{
        font-size: 12px;
        width: 500px;
        margin-top: 25px;
    }
    
    .main__start{
        padding-top: 120px;
        padding-bottom: 150px;
    }
    
    .slide__img{
        width: 220px;
        height: 140px;
        object-fit: initial
    }
    
    .slide__text{
        width: 280px;
    }
    
    .slide__h2{
        font-size: 30px;
        margin-top: 40px;
    }
    
    .slide_p{
        font-size: 13px;
        width: 250px;
        margin-top: 30px;
    }
    
    .slide__a{
        width: 159px;
        font-size: 13px;
        padding: 14px 38px 15px 38px;
        margin-top: 50px;
    }
    
    .service__air{
        font-size: 20px;
        padding: 12px;
    }
    
    .service__air-text{
        font-size: 12px;
        margin-top: 12px
    }
    
    .service__h2{
        font-size: 35px;
        margin-top: 30px;
    }
    
    /* ********* */
    
    .company{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .company__h2{
        font-size: 30px;
        margin-top: 25px;
        text-align: center;
    }
    
    .company__info{
        font-size: 13px;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    
    .company__border-line{
        margin: auto;
    }
    
    .company__block{
        margin-top: 30px;
    }
    
    /* ****** */
    
    .map__geo{
        width: 100%;
        height: 350px;
    }
    
}

@media(max-width:687px){
    
    .header__start-link{
        font-size: 8px;
        padding: 10px 0;
    }
    
    .header__menu .navbar-brand img{
        width: 100px;
    }
    
    .header__nav-geo{
        font-size: 10px;
    }
    
    .header__menu button i{
        font-size: 20px
    }
    
    .service{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .service__border-line{
        width: 90px;
        border-top: 3px solid #C8A35F
    }
    
    .service__h2{
        font-size: 30px;
        margin-top: 25px;
    }
    
    
}

@media(max-width:687px){
    
    .header__nav-link{
        font-size: 10px;
        padding: 15px 0;
    }
    
    .main__text{
        padding: 35px 35px;
        width: 420px;
    }
    
    .main__text h1{
        font-size: 30px;
    }
    
    .main__text p{
        font-size: 12px;
        width: 350px;
        margin-top: 25px;
    }
    
    .main__start{
        padding-top: 80px;
        padding-bottom: 100px;
    }
    
    .slide__text{
        width: 280px;
    }
    
    .slide__h2{
        font-size: 23px;
        margin-top: 30px;
    }
    
    .slide_p{
        font-size: 11px;
        width: 150px;
        margin-top: 23px;
    }
    
    .slide__a{
        width: 129px;
        font-size: 11px;
        padding: 11px 28px 11px 28px;
        margin-top: 40px;
    }
    
    .slide__border-line{
        width: 70px;
        border-top: 3px solid #C8A35F
    }
    
    .slide{
        background: #2F343A;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .service__boxer{
        margin-top: 40px;
    }
    
}

@media(max-width:575px){
    
    .service__air{
        font-size: 15px;
        padding: 10px;
    }
    
    .service__air-text{
        font-size: 8px;
        margin-top: 8px
    }
    
    .service__box{
        padding: 30px 42px 15px 42px;
    }
    
    .service__boxer{
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .service{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .service__border-line{
        width: 90px;
        border-top: 3px solid #C8A35F;
    }
    
    .service__h2{
        font-size: 25px;
        margin-top: 15px;
    }
    
    .service__boxer{
        margin-top: 30px;
    }
    
    /* *********** */
    
    .company{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .company__h2{
        font-size: 25px;
        margin-top: 20px;
    }
    
    .company__info{
        font-size: 11px;
        width: 100%;
        margin-top: 15px;
    }
    
    /* ******************** */
    
    .company__block-number{
        font-size: 44px;
        margin-top: 0;
    }
    
    .company__block-name{
        font-size: 15px;
        margin-top: 5px;
    }
    
    .company__block-info{
        font-size: 10px;
        margin-top: 7px;
        margin-bottom: 5px;
    }
    
    /* ****** */
    
    .map__geo{
        width: 100%;
        height: 250px;
    }
    
}

@media(max-width:523px){
    
    .slide__text{
        margin: auto;
        width: 100%;
    }
    
    .slide__h2{
        font-size: 23px;
        margin-top: 30px;
        text-align: center;
        width: 100%;
    }
    
    .slide_p{
        font-size: 11px;
        width: 350px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    
    .slide__a{
        margin: auto;
        margin-top: 20px;
    }
    
    .slide__border-line{
        width: 70px;
        border-top: 3px solid #C8A35F;
        margin: auto
    }
    
    .slide__box{
        flex-direction: column
    }
    
    .slide__img{
        margin: auto;
        margin-top: 20px;
    }
    
    .slide__button1, .slide__button2{
        font-size: 11px;
    }
    
    .slide__button-box{
        margin: auto;
    }
    
    .service__h2{
        text-align: center
    }
    
    .service__border-line{
        margin: auto;
    }
    
}

@media(max-width:500px){
    
    .header__nav-link{
        font-size: 8px;
        padding: 8px 0;
    }
    
    .main__text{
        padding: 25px 25px;
        width: 320px;
    }
    
    .main__text h1{
        font-size: 20px;
    }
    
    .main__text p{
        font-size: 8px;
        width: 250px;
        margin-top: 10px;
    }
    
    .main__start{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    
    .header__menu .navbar-brand img{
        width: 80px;
    }
    
    .header__start-link{
        font-size: 6px;
        padding: 6px 0;
    }
    
    .header__nav-geo{
        font-size: 8px;
    }
    
    .header__menu button i{
        font-size: 15px
    }
    
    .header__geo img{
        width: 15px;
    }
    
    .header__geo{
        padding-left: 20px
    }
    
    .slide__h2{
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    
    .slide_p{
        font-size: 9px;
        width: 250px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    
    .slide__a{
        margin: auto;
        margin-top: 20px;
    }
    
    .slide__border-line{
        border-top: 2px solid #C8A35F;
    }
    
    .slide{
        background: #2F343A;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    
    .slide__a{
        width: 80px;
        font-size: 8px;
        padding: 8px 14px 9px 14px;
        margin-top: 20px;
    }
    
    .slide__button1{
        margin-bottom: 10px;
        margin-top: 15px
    }
    
    .service__box{
        padding: 20px 42px 15px 42px;
    }
    
    .service__air{
        font-size: 12px;
        padding: 5px;
    }
    
    .service__border-line{
        width: 90px;
        border-top: 2px solid #C8A35F
    }
    
    .service__h2{
        font-size: 20px;
        margin-top: 10px;
    }
    
    .service__boxer{
        margin-top: 20px;
    }
    
    /* ********** */
    
    .company__h2{
        font-size: 20px;
        margin-top: 15px;
    }
    
    .company__info{
        font-size: 8px;
        width: 100%;
        margin-top: 15px;
    }
    
    /* **** */
    
    .footer{
        padding: 10px 0 5px 0
    }
    
    /* ******* */
    
    .map__geo{
        width: 100%;
        height: 250px;
    }
    
}

@media(max-width:389px){
    
    .service__air-text{
        font-size: 6px;
        margin-top: 6px;
    }
    
    .service__boxer{
        margin-left: 0;
        margin-right: 0;
    }
    
    .service__h2{
        font-size: 18px;
        margin-top: 10px;
    }
    
    .service__boxer{
        margin-top: 15px;
    }
    
    /* ********************* */
    
    .company__block-number{
        font-size: 34px;
        margin-top: 0;
    }
    
    .company__block-name{
        font-size: 12px;
        margin-top: 5px;
    }
    
    .company__block-info{
        font-size: 8px;
        margin-top: 7px;
        margin-bottom: 5px;
    }
    
}

@media(max-width:360px){
    
    .header__nav-link{
        font-size: 6px;
        padding: 4px 0;
    }
    
    header .navbar{
        padding: 0 !important;
    }
    
    .main__text{
        padding: 12px 12px;
        width: 220px;
    }
    
    .main__text h1{
        font-size: 15px;
    }
    
    .main__text p{
        font-size: 8px;
        width: 200px;
        margin-top: 10px;
    }
    
    .main__start{
        padding-top: 40px;
        padding-bottom: 45px;
    }
    
}